header {
    border-bottom: 1px solid grey;
    padding: 0.5rem 0;
    background-color: #ccc;
    ul.header {
        margin: 0;
        display: flex;
        list-style: none;
        
        li{
            margin: 0 .5rem;
        }
        li.search-container {
            input {
                border: 1px solid grey;
                padding: 0.2rem;
            }
        }
    }
}