header {
    border-bottom: 1px solid grey;
    padding: 0.5rem 0;
    background-color: #ccc;
    ul.header {
        margin: 0;
        display: flex;
        list-style: none;
        
        li {
            margin: 0 .5rem;

            .icon {
                height: 100%;
                background: white;
                border-radius: 22%;

                &:active {
                    background: lightgrey;
                }
            }

            .sidebar-icon-container {

                svg {
                    vertical-align: text-bottom;
                }
            }

            .delete-icon-container {
                width: 2.5rem;
                svg {
                    margin-left: 0.5rem;
                    vertical-align: middle;
                }
            }

            .create-icon-container {
                width: 2.5rem;
                svg {
                    margin-left: 0.3rem;
                    vertical-align: text-top;
                }
            }
            &.search-container {
                width: 30%;
                input {
                    border: 1px solid grey;
                    padding: 0.2rem 0.5rem;
                    border-radius: .25rem;
                    width: 100%;
                }
            }
        }
    }
}