section {
    overflow-x: hidden;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    .note-item {
        white-space: nowrap;
    }

    &.selected {
        background-color: beige;
    }

    .time-stamp {
        color: #ccc;
        font-size: 0.8rem;
        font-weight: 400;
    }
}