<div *ngIf="notesList" class="editor-container row">

  <section class="sidebar col-3 pr-0" [ngClass]="{collapsed: !sidebarExpanded}">
    <div #notesList></div>

    <div *ngFor="let note of filteredNotes">
      <!-- <app-notes [notesObject]="note"></app-notes> -->
      <div #noteItem (click)="selectNote(note.id)" class="note-list-item" *ngIf="note.viewType === 'sidebar'" [ngClass]="{selected: note.isSelected}">
        <span class="note-item ">{{note.titleText | noteTitle}}</span><br/>
        <div class="note-line"> 
          <span class="time-stamp">{{note.time.hour}}:{{note.time.minutes}} {{note.time.AMPM}}</span>
          <span class="note-text">{{note.textValue}}</span>
        </div>
      </div>
    </div>

  </section>


  <section class="editor  col-9">
    <ng-container *ngIf="filteredNotes.length > 0">
      <span class="time-stamp"> {{selectedNote.time.day}} at {{selectedNote.time.hour}}:{{selectedNote.time.minutes}} {{selectedNote.time.AMPM}}</span>
      <textarea #editorInput *ngIf="selectedNote" (input)="inputEdit()" [(ngModel)]="selectedNote.textValue"></textarea>
    </ng-container>
  </section>

</div>