.sidebar {
    border-right: 1px solid #ccc;
    min-height: 60vh;

    &.collapsed {
        display: none;

        +.editor {
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 1.5rem!important;
            padding-left: 1.5rem!important;
        }
    }

    .note-list-item {
        border-bottom: 1px solid #ccc;
        padding: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .note-line {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .time-stamp {
                margin-right: .5rem;
            }
            .note-text {
                font-size: 0.8rem;
                color: darkgray;
            }
        }
    
        &.selected {
            background-color: beige;
        }
    
        .time-stamp {
            color: grey;
            font-size: 0.8rem;
            font-weight: 400;
        }
    }
}

.editor {
    .time-stamp {
        color: #ccc;
        font-size: 0.8rem;
        font-weight: 400;
    }
    textarea {
        height: 800px;
        outline: none;
        width: 100%;
        border: none;
    }
}



