.sidebar {
    border-right: 1px solid #ccc;
    min-height: 60vh;

    &.collapsed {
        display: none;

        +.editor {
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 1.5rem!important;
            padding-left: 1.5rem!important;
        }
    }
}

.editor {
    .time-stamp {
        color: #ccc;
        font-size: 0.8rem;
        font-weight: 400;
    }
    textarea {
        height: 800px;
        outline: none;
        width: 100%;
        border: none;
    }
}



